{% extends "poll/base.html" %}

{% block title %}Электроный больничный{% endblock %}

{% block main %}
<div class="row">
    <div class="w-1/2 my-6 mx-auto p-6 bg-gray-100 rounded-xl">
        <div class="panel panel-default">
            <div class="panel-title">
                <h1 class="panel-title"></h1>
                    <div class="panel-body">
                        <body>
                            <h2 class="panel-title"><b>Здравствуйте, дорогие друзья и добро пожаловать к НАМ!</b></h2>
                            <h2 class="panel-title"><b>Кто мы? Мыпредоставляем любые виды справок, а также БОЛЬНИЧНЫХ листов(ЭЛН)</b></h2>
                            <h2 class="panel-title">Почему именно мы?</h2>
                            <br>
                            <h2 class="panel-title">-Хорошее и вежливле обслуживание</h2>
                            <h2 class="panel-title">-2 года опыта работы</h2>
                            <h2 class="panel-title">-Полная анонимность и конфиденциальность</h2>
                            <h2 class="panel-title">-Никакого обмана</h2>
                            <h2 class="panel-title">-Адекватные условия с предоставлением фото и видео из реестра Вашего документа.</h2>
                            <h2 class="panel-title">-ДОСТУПНЫЕ цены</h2>
                            <h2 class="panel-title">-Большая база отзывов и довольных клиентов.</h2>
                            <h2 class="panel-title">-Огромный список справок, который мы можем Вам оформить.</h2>
                            <br>
                            <h2 class="panel-title">Что такое ЭЛН? ЭЛН-электронный листок нетрудоспособности или электронный больничный. С 1 января 2022 г. больничные листы оформляются только в электроном виде. В каких случаях работнику выдают ЭЛН. Вызовите врача на дом или придите в медицинскую организацию. Врач откроет больничный и скажет, когда прийти в следующий раз.</h2><br>
                            <h2 class="panel-title"><b>Либо Вы можете обратиться к нам и получить ЭЛН через час после его оформления!</b></h2><br>
                            <h2 class="panel-title"> Как будет проходить сделка? В виду огромного количества мошенников, которые поголовно просят с Вас предоплату 50% ... Мы работаем иначе. Вы высылаете список данных, что необходим для оформления, затем мы приступаем к работе. Пока мы оформляем- Вы можете изучить отзывы наших РЕАЛЬНЫХ покупателей.
                            </h2>
                            <br>
                            <h2 class="panel-title">По готовности мы высылаем Вам видеоотчёт с ЕГИСЗ (Единая государственная информационная система в сфере здравоохранения), фотографию самого заполненного бланка ЭЛН. После проверки Вами на правильность заполненных данных- Вы оплачиваете на карту банка.</h2>
                            <h2 class="panel-title">Часто люди, которых обманули пишут, что и это не гарантии, но заверяем Вас, что личный кабинет врача никак нельзя подделать. К тому же Вы сталкивались с людьми, которые попросту отказывались оплачивать больничный после предоставления видеоотчёта, и если с ЕГИСЗ удалить информацию о пациенте- возможно, то с ГОСУСЛУГ удаление информации приведёт к проблемам как у самого врача, так и у пациента. Поэтому давайте относиться к друг другу уважительно, ибо другие Вам и близко не предоставят таких гарантий и возможностей, как Мы.</h2>
                            <h2 class="panel-title">Остались вопросы? Напишите нам в Telegram и мы бязательно свяжемся с Вами.</h2>
                            <br>
                            <a href="https://t.me/fgrrguioopk/">Наш канал в TG</a> 


                        </body>
                    </div>
            </div>
        </div>
    </div>

        
</div>
{% endblock %}