{% extends "poll/base.html" %}

{% load static %}

{% block title %}Гарантии{% endblock %}

{% block main %}
<div class="row">
    <body>
        <div class="panel-title">
            <div class="panel-body">

                <img src="{% static 'images/proof1.jpg' %}" width ="500" height="600" alt="garanties">
                <img src="{% static 'images/proof2.jpg' %}" width ="500" height="600" alt="garanties">
                <br>
                <br>
                <br>
                <br>
                <img src="{% static 'images/proof3.jpg' %}" width ="500" height="600" alt="garanties">
                <img src="{% static 'images/proof4.jpg' %}" width ="500" height="600" alt="garanties">
                <br>
                <br>
                <br>
                <br>
                <img src="{% static 'images/proof.gif' %}" width ="500" height="600" alt="garanties">
                <img src="{% static 'images/proof5.jpg' %}" width ="500" height="600" alt="garanties">
            </div>
        </div>
    </body>
</div>
{% endblock %}
